body {
    margin: 0;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: black;
}

img {
    max-width: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 110px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* BUTTONS */

.button {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #008752;
    text-decoration: none;
    border: 0;
}

.button-map {
    background: #95459A;
}


/* СТИЛИ ХЕДЕРА */

.header {
    display: flex;
    align-items: center;
}

.header-nav {
    margin-right: auto;
}

.header-nav-list {
    list-style: none;
}

.header-nav-list .link {
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    color: #333333;
    text-decoration: none;
}

.header-tel {
    margin-right: 24px;
    font-weight: 800;
    font-size: 17px;
    line-height: 20px;
    color: #95459A;
    text-decoration: none;
}


/* POSTER BLOCK */

.poster {
    background: linear-gradient(180deg, #E0E7ED 16.53%, #DAE2E5 102.51%);
}

.poster-wrapper {
    padding-top: 143px;
    padding-bottom: 183px;
}

.poster-title {
    margin: 0;
    width: 800px;
    font-weight: 900;
    font-size: 90px;
    line-height: 90px;
    color: #00559D;
}

.poster-button {
    margin-top: 50px;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #95459A;
}


/* SERVICE BLOCK */

.services-title {
    margin: 0 auto;
    margin-top: 80px;
    width: 650px;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    text-transform: uppercase;
    color: #00559D;
    text-align: center;
}

.services-list {
    display: flex;
    margin-top: 50px;
    list-style: none;
}

.service-card-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #2C3036;
}

.service-card-text {
    font-size: 16px;
    line-height: 21px;
    color: #2C3036;
}


/* ABOUT US BLOCK */

.about-us {
    margin-top: 110px;
}

.about-us-wrapper {
    padding-right: 120px;
    width: 50%;
}

.about-us-title {
    margin: 0;
    margin-top: 46px;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #005DAB;
}

.about-us-text {
    margin: 0;
    margin-top: 46px;
    font-size: 18px;
    line-height: 28px;
}

.about-us-button {
    margin-top: 20px;
}


/* PARTNERS */

.partners {
    margin-top: 100px;
}

.partners-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}


/* MAP BLOCK */

.map {
    margin-top: 68px;
}

.map-wrapper {
    padding-top: 50px;
    padding-right: 44px;
    padding-left: 44px;
    padding-bottom: 26px;
    background: #008752;
    width: 380px;
}

.map-title {
    margin: 0;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}

.map-company-name {
    margin: 0;
    margin-top: 17px;
}

.map-addres {
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.map-tel {
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: underline;
}

/* FOOTER BLOCK */

.footer {
    display: flex;
    background-color: #00559D;
}

.footer-title {
    margin: 0;
    font-weight: 900;
    font-size: 40px;
    line-height: 52px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.footer-menu {
    list-style: none;
}

.contact-title {
    margin: 0;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    font-weight: 900;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    color: #00559D;
}


.contact-form {
    width: 780px;
    margin: 0 auto;
    margin-top: 60px;
    background: #EEEEEE;
}