body {
    margin: 0;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: black;
}

img {
    max-width: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 110px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* BUTTONS */

.button {
    display: block;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #008752;
    text-decoration: none;
    text-align: center;
    border: 0;
    cursor: pointer;
}

.button:hover {
    background: #26CD8B;
}

.button:active {
    background: #005232;
}

.button-secondary {
    background: #95459A;
}

.button-secondary:hover {
    background: #D665DD;
}

.button-secondary:active {
    background: #722A77;
}

/* СТИЛИ ХЕДЕРА */

.header {
    display: flex;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 33px;
}

.header-logo:hover {
    opacity: 0.7;
}

.header-logo:active {
    opacity: 0.5;
}

.header-nav {
    margin-right: auto;
}

.header-nav-list {
    display: flex;
    list-style: none;
}

.header-nav-list .link {
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    color: #333333;
    text-decoration: none;
}

.header-nav-list .link:hover {
    color: #008752;
}

.header-nav-list .link:active {
    color: #333333;
    opacity: 0.5;
}

.header-nav-link {
    margin-right: 15px;
}

.header-nav-link:last-child {
    margin-right: 0;
}

.header-tel {
    margin-right: 24px;
    font-weight: 900;
    font-size: 17px;
    line-height: 20px;
    color: #95459A;
    text-decoration: none;
}

.header-tel:hover {
    opacity: 0.7;
}

.header-tel:active {
    opacity: 0.5;
}

.header-button-wrapper {
    width: 180px;
}

/* POSTER BLOCK */

.poster {
    background-color: #DAE2E5;
    background-image: url('/images/poster-image.png'), linear-gradient(180deg, #E0E7ED 16.53%, #DAE2E5 102.51%);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.poster-wrapper {
    padding-top: 143px;
    padding-bottom: 286px;
}

.poster-title {
    margin: 0;
    width: 800px;
    font-weight: 900;
    font-size: 90px;
    line-height: 90px;
    color: #00559D;
}

.poster-button-wrapper {
    margin-top: 50px;
    width: 360px;
}

.poster-button {
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}


/* SERVICE BLOCK */

.services-title {
    margin: 0 auto;
    margin-top: 80px;
    width: 650px;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    text-transform: uppercase;
    color: #00559D;
    text-align: center;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -20px;
    margin-top: 50px;
    list-style: none;
}

.service-card {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 280px;
}

.service-card-title {
    margin: 0;
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #2C3036;
}

.service-card-text {
    margin: 0;
    margin-top: 20px;
    font-size: 16px;
    line-height: 21px;
    color: #2C3036;
}

.services-button-wrapper {
    margin-top: 20px;
    width: 180px;
}

/* ABOUT US BLOCK */

.about-us {
    margin-top: 85px;
}

.about-us-wrapper {
    position: relative;
    padding-right: 120px;
    width: 50%;
}

.about-us-wrapper::before {
    content: '';
    position: absolute;
    right: -609px;
    top: 35px;
    width: 600px;
    height: 370px;
    background-image: url(/images/about-us-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-us-wrapper::after {
    content: '';
    position: absolute;
    right: -700px;
    top: 118px;
    width: 590px;
    height: 430px;
    background-color: #008752;
    background-repeat: no-repeat;
    z-index: -1;
}

.about-us-title {
    margin: 0;
    margin-top: 46px;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #005DAB;
}

.about-us-text {
    margin: 0;
    margin-top: 46px;
    font-size: 18px;
    line-height: 28px;
}

.about-us-button-wrapper {
    margin-top: 20px;
    width: 180px;
}

/* PARTNERS */

.partners {
    margin-top: 140px;
}

.partners-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.partners-item a {
    opacity: 0.5;
}

.partners-item a:hover {
    opacity: 1;
}

.partners-item a:active {
    opacity: 0.2;
}


/* MAP BLOCK */

.map {
    margin-top: 68px;
    padding-top: 40px;
    padding-bottom: 133px;
    background-image: url('/images/map.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.map-wrapper {
    padding-top: 50px;
    padding-right: 44px;
    padding-left: 44px;
    padding-bottom: 26px;
    background: #008752;
    width: 380px;
}

.map-company-name {
    margin: 0;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}

.map-address {
    margin: 0;
    margin-top: 17px;
    margin-bottom: 23px;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.map-tel {
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: underline;
}

.map-tel:hover {
    opacity: 0.7;
}

.map-tel:active {
    opacity: 0.5;
}

.map-button-wrapper {
    margin-top: 23px;
    width: 180px;
}

/* FOOTER BLOCK */

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #00559D;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-title {
    margin: 0;
    font-weight: 900;
    font-size: 40px;
    line-height: 52px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.footer-menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-menu li {
    margin-right: 16px;
}

.footer-menu li:last-child {
    margin-right: 0;
}

.svg-icon:hover path {
    fill: #60A7E3;
}

.svg-icon:active path {
    fill: #17354F;
}